a {
    text-decoration : none;
}

.Block {
    width: 175px;
    background-color: #fff;
    position: relative;
    border: 2px solid #D4D4D4;
    box-shadow: 0 0 10px #0099FF;
    padding: 10px 10px;
    border-radius: 10px;
}

table{
    border-collapse: collapse;
    border: 2px solid black;
}

td{
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
}
th{
    padding: 10px;
    border: 1px solid black;
}
