a {
    text-decoration : none;
}

.LoginBlock {
    width: 175px;
    background: #ccc;
    padding: 5px;
    float: left;
    border: 1px black;
}

.RegistrationBlock {
    width: 175px;
    background: #ccc;
    padding: 5px;
    float: left;
    border: 1px black;
}