a {
    text-decoration : none;
}

.Block {
    width: 175px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
    border: 2px solid #D4D4D4;
    box-shadow: 0 0 10px #0099FF;
    padding: 10px 10px;
    border-radius: 10px;
}

.UserPage {
    width: 415px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
    border: 2px solid #D4D4D4;
    box-shadow: 0 0 10px #0099FF;
    padding: 10px 10px;
    border-radius: 10px;
}

.NewWallet {
    align-content: center;
    width: 225px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -125px;
    margin-top: -175px;
    border: 2px solid #D4D4D4;
    box-shadow: 0 0 10px #0099FF;
    padding: 10px 10px;
    border-radius: 10px;
}

.Registration {
    width: 175px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -125px;
    border: 2px solid #D4D4D4;
    box-shadow: 0 0 10px #0099FF;
    padding: 10px 10px;
    border-radius: 10px;
}
table {
    border-collapse: collapse;
}

td {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    padding: 10px;
}

h3 {
    font-style: italic;
    text-align: center;
}
